percona:
  max_connections: 100
  long_query_time: 2

  passwords:
    root: root-password
    debian_sys_maint: debian_sys_maint-password
    xtrabackup: xtrabackup-password
    clustercheck: clustercheck-password

  nodes:
    percona1:
      server_id: 10

    percona2:
      server_id: 20

    percona3:
      server_id: 30
